*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    background-color: rgba(238,244,250,255);
    height: 100vh;
    display: flex;    
    align-items: center;
    justify-content: center;
}


.ulmain{
    
    width: 40rem;
    /* max-height: 10rem;
    min-height: 8rem; */
    /* overflow: scroll; */
}

.box{
    

    width: 40rem;
    background-color: rgba(255,255,255,255);
    min-height: 25rem;

}


.aaac{
  list-style: none !important;            
}
.aaa{
       margin: 10px;
       display: inline-block;
            
}

       


