*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    background-color: rgba(238,244,250,255);
    height: 100vh;
    display: flex;    
    align-items: center;
    justify-content: center;
}


.box{
    

    width: 40rem;
    background-color: rgba(255,255,255,255);
    height: 25rem;

}

